@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

section {
  background-image: url(./public/images/5920.jpg);
  background-size: cover;
  background-blend-mode: overlay ;
  background-position: 0 0;
}
